<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Example: Cyberpunk..." (keyup)="applyFilter($event)">
</mat-form-field>
  
<div>
    <table mat-table [dataSource]="dataSource" matSort>
  
        <ng-container matColumnDef="gameName">
          <th class="mat-header-gameName" mat-header-cell *matHeaderCellDef mat-sort-header>Game Name</th>
          <td class="mat-td-gameName" mat-cell *matCellDef="let row">{{row.gameName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="gameDescription">
          <th class="mat-header-gameDescription" mat-header-cell *matHeaderCellDef mat-sort-header>Game Description</th>
          <td class="mat-td-gameDescription" mat-cell *matCellDef="let row">{{row.gameDescription}}</td>
        </ng-container>
  
        <ng-container matColumnDef="gamePrice">
          <th class="mat-header-gamePrice" mat-header-cell *matHeaderCellDef mat-sort-header>Game Price ($)</th>
          <td class="mat-td-gamePrice" mat-cell *matCellDef="let row">{{row.gamePrice}}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="processedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: processedColumns;"></tr>
  
    </table>
  
    <mat-paginator [length]=entries.length [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
        
    </mat-paginator>
</div>

<div>
  <button class="orderButton">Order</button>
</div>

<router-outlet></router-outlet>