table,
mat-form-field{
  width: 90%;
  padding: 20px;
}

mat-table{
  display: flex;
}

nav{
  background-color: aqua;
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
